.container-aboutPage {
    text-align: center;
    background-color: #141616;
    color: white;
    padding: 0.01rem 0 1.5rem 0;

    .about-intro {
        background-color: #222324;
        color: #878989;
        border-radius: 0.5rem;
        margin: 0.8rem;
        padding: 1rem 1rem 2rem;

        .title-aboutIntro {
            margin-bottom: 1.5rem;
        }

        .layout-introAbout {
            display: flex;
            justify-content: space-around;

            .card-intro {
                width: 100%;
                height: 150px;
                display: flex;
                align-items: center;
                position: relative;
                justify-content: center;
                margin: 0 1rem;

                img {
                    width: 100%;
                    opacity: 0.5;
                    position: absolute;
                    border-radius: 0.5rem;
                    max-height: 150px;
                }
            }
        }
    }

    .container-history {
        background-image: url(/public/image/DJI_0037-min.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        .layout-history {
            background-image: linear-gradient(to bottom, #00000069, #00000098, #00000069);
            width: 100%;
            height: 300px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            
            h1 {
                font-size: 45px;
            }

            p {
                font-size: 20px;
                margin-bottom: 0.5rem;
            }

            a {
                color: white;

                &:hover {
                    cursor: pointer;
                    color: #1a5632;
                    font-weight: bold;
                }
            }
        }
    }
}