* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  margin: 0 auto;
  max-width: 1440px;
}

.container-app {
  position: relative;
  height: 100vh;
  background-image: url(/public/home/home-page.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}