.container-header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    background-image: linear-gradient(to bottom, white, #ffffff00);

    .logo,
    .language {
        padding: 1rem;
    }

    .logo {
        img {
            width: 100%;
            max-width: 130px;
        }
    }

    .language {
        button {
            background-color: transparent;
            color: #1a5632;
            border: transparent;
            margin: 0 0.1rem;
        }

        .menu-header {
            display: flex;
            margin: 1rem 0;

            .search-header {
                width: 30%;
            }
            
            .social-media {
                width: 70%;

                .icon-linkedin,
                .icon-youtube {
                    width: 50%;
                    color: #1a5632;
                    font-size: 20px;
                }
            }
        }

        button,
        .icon-search,
        .icon-linkedin,
        .icon-youtube {
            &:hover {
                cursor: pointer;
            }
        }
    }
}