.container-navbar {
    background-color: #c0c0c08f;
    padding: 1.5rem;
    
    ul {
        display: flex;
        margin: 1rem;
        justify-content: space-between;

        li {
            list-style: none;
            font-weight: 300;
            font-style: normal;
        }
    }
}